h1 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  margin-bottom: 3px;
  font-size: 300%;
}
h2 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: black;
  text-indent: 50px;
  font-size: 120%;
}
h3 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-indent: 50px;
  font-size: 100%;
}

p{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-indent: 20px;
  margin-left: 10px;
}
a{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-indent: 20px;
  margin-left: 10px;
}


#members{
  text-align: center;
  background-color: #ffffff;
  width: 1000px;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font-size: 20px;
}
#text{
  text-align: center;
  background-color: #ffffff;
  width: 1000px;
  min-height: 100px;
  padding: 10px;
  margin: auto;
  border: solid 1px #444444;
  font-size: 20px;
}

#text p{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

#content{
  text-align: center;
  background-color: #efebdc;
  width: 1050px;
  min-height: 150px;
  padding: 10px;
  margin: auto;
  border: solid 1px #444444;
  font-size: 20px;
}
